<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPxrubN671lsAJ8adqVzSMOa0bjwJnjPk</string>
	<key>GCM_SENDER_ID</key>
	<string>668992111821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.Spaceship-Task</string>
	<key>PROJECT_ID</key>
	<string>spaceship-task-548ac</string>
	<key>STORAGE_BUCKET</key>
	<string>spaceship-task-548ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668992111821:ios:58a2f8a0ee7d88b4f21584</string>
</dict>
</plist>